 *{
     box-sizing: border-box;
 }

 body{
    margin: 0 auto;
    background: #ccd5ae ;
    padding: 5px;
    width: 85%;
    display: grid;
}
.cuerpo{
    border: 2px solid red;
    width: 100%;
    margin: auto;
    display: block;
    background: white;
}


h1{
    text-align: center;
}

img{
    border-radius: 50%;
    margin-bottom: 12px;
    margin-right: 30px;
    display: block;
    margin: auto;
    justify-content: center;

}
h3 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
p{
    text-align: center;
    font-family: sans-serif;
    font-size: 16pt;
}


fieldset{
    margin-bottom: 10%;
    border: solid 2px  black;
    display: flex;
    margin: auto;
    width: 1200px;
    margin-inline: 70px;

}


legend{
    background: #33dce2;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;

}


.contenedor{
    width: 90%;
    background: white;
    margin: 50px auto;
    display: grid;

    

   
   
}

.tabla_titulo{
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 10px;
    
    background: rgb(41, 118, 219);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
    margin-bottom: 15px;
    
}


.tabla_subtitulos, .tabla_datos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
   /* border-radius: 20px;*/
    
    margin-bottom: 15px;
    
}

.tabla_subtitulos{
    font-weight: bold;
    font-size: 1.3em;
    
}

.tabla_datos{
    padding: 25px;
    font-size: 1.1em;
    
}



